.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding-left: 50px;
}

.box {
  position: relative;
  width: 160px;
  height: 100px;
  border: 5px solid #28334d;
}

.input {
  width: 40px;
  height: 18px;
  font-size: 14px;
  background-color: #28334d;
  color: white;
  border: none;
  outline: none;
}

.select {
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
  border-radius: 2px;
  background-color: #28334d;
  color: white;
  border: none;
  outline: none;
  margin-left: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: absolute;
}

.inputDropdownContainer {
  position: absolute;
}

.marginTop {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.marginBottom {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.marginLeft {
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.marginRight {
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.paddingTop {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.paddingBottom {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.paddingLeft {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.paddingRight {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.valueDisplayChanged {
  position: absolute;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.valueDisplayChanged span {
  border-bottom: 1px dotted yellow;
}

.valueDisplayDefault {
  position: absolute;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.valueDisplayChanged.marginLeft {
  width: 55px;
  justify-content: end;
}
.valueDisplayChanged.marginRight {
  width: 55px;
  justify-content: start;
}
.valueDisplayDefault.marginLeft {
  width: 50px;
  justify-content: end;
}
.valueDisplayDefault.marginRight {
  width: 50px;
  justify-content: start;
}

.valueDisplayFocused {
  position: absolute;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.inputFocused {
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #139bd1;
}
